#toast-container > div {
  display: flex !important;
  align-items: center !important;
  padding-right: 40px !important; /* space for X icon */
  z-index: 999999 !important;     /* above modal */
}

.toast-top-right {
  top: 15px !important;
  right: 15px !important;
  left: auto !important;
}

.toast-close-button {
  position: absolute !important;
  right: 10px !important;
  top: 10px !important;
  font-size: 16px !important;
  opacity: 1 !important;
}
